extends layout 

block content 

  h1 Item: #{item.name} 

  img(src="/" + item.image, alt="")

  h2 #{item.description}

  div #{item.price} $
  div Items in stock: #{item.numberInStock}

  div Categories:
    ul 
      each cat in item.category 
        li 
          a(href=cat.url) #{cat.name}

  p 
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item